:root {
    --main-bg-color: #161616;
    --section-bg-color: #181818;
    --section-accent-color: #1f1f1f;
    --color: #bbb;
    --main-accent-color: #bc6a5e;
    --second-accent-color: #732a2a;
    --border-color: #2b2b2b;
}
