:root {
    --main-bg-color: #161616;
    --section-bg-color: #181818;
    --section-accent-color: #1f1f1f;
    --color: #a2a2a2;
    --main-accent-color: #394556;
    --second-accent-color: #6f616a;
    --border-color: #2b2b2b;
}
