:root {
    --main-bg-color: #e6e6e6;
    --section-bg-color: #ececec;
    --section-accent-color: #dedede;
    --color: #161616;
    --main-accent-color: #7fa7b4;
    --second-accent-color: #92afad;
    --border-color: #eee;
}
