:root {
    --color: #3a4750;
    --accent-color: #c38e8e;
    --bg-color: #9dafbb;
    --content-bg-color: #eee;

    --button-bg-color: rgba(255, 255, 255, 0.6823529411764706);
    --inset-bg-color: #eaeaea;

    --content-shadow: 1px 1px 10px 5px rgba(0,0,0,0.15);
    --outer-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.2);
    --inner-shadow: rgba(0, 0, 0, .2) 0px 0px 3px 0px;
}

body {
    background-color: var(--bg-color);
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    text-align: center;
    color: var(--color);
    transition-duration: 1s;
    font-size: 20px;
}

#contents {
    margin-top:100px;
}


.header {
    padding: 20px;
    width: 700px;
    margin: auto;
    background-color: var(--content-bg-color);
    border-radius: 5px;
    box-shadow: var(--content-shadow);
    margin-bottom: 25px;
    height: 70px;
}

    .header a {
        text-decoration: none;
        text-transform: uppercase;
        color: var(--color);
        background-color: var(--button-bg-color);
        border-radius: 2px;
        box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
        padding: 5px;
        font-size: 12px;
        transition-duration: 1s;
        margin-right: 4px;
    }

        .header a:last-child {
            margin-right: 0;
        }

    .header a:hover {
        box-shadow: var(--inner-shadow);
        color: var(--accent-color);
    }

.buttons.header-section {
    width: calc(25% - 40px);
    padding: 20px;
}

.header-section {
    float: left;
    background-color: var(--inset-bg-color);
    padding: 15px;
    border-radius: 3px;
    height: 30px;
    box-shadow: var(--outer-shadow);
    margin-right: 20px;
}

.pic.header-section {
    height: 50px;
    width: 50px;
    padding: 10px;
}

.pic .inner {
    height: 40px;
}

.inner {
    background-color: var(--button-bg-color);
    border-radius: 3px;
    padding: 5px;
    height: 30px;
    box-shadow: var(--inner-shadow);
}

.header img {
    max-width: 100%;
    border-radius: 3px;
}

.header-section:nth-child(3) {
    margin-right: 0;
}

.name.header-section {
    height: 40px;
    text-transform: uppercase;
    font-size: 24px;
    word-spacing: 10px;
    font-weight: 300;
    width: 385px;
}

#content {
    background-color: var(--content-bg-color);
    width: 700px;
    height: 450px;
    padding: 20px;
    margin: auto;
    box-shadow: var(--content-shadow);
    border-radius:5px;
}

    #content table {
        width: 100%;
        height: 100%;
        max-height: 450px;
    }

        #content table ul {
            list-style-type: none;
            padding-left: 0;
        }

.nav {
    width: 25%;
    padding-right: 20px;
    padding-left: 20px;
    background-color: var(--inset-bg-color);
    box-shadow: var(--outer-shadow);
    border-radius: 5px;
    max-height: 450px;
    vertical-align: middle;
}

    .nav input[type="radio"] {
       width: 0;
    }

    .nav input[type="radio"]:checked + label {
        box-shadow: var(--inner-shadow);
        background-color: var(--button-bg-color);
    }

    .nav label:hover {
        box-shadow: var(--inner-shadow);
        background-color: var(--button-bg-color);
    }

    .nav label {
        padding: 10px;
        border: none;
        float: left;
        margin-bottom: 20px;
        width: 113px;
        width: calc(100% - 20px);
        color: var(--color);
        font-size: 12px;
        background-color: var(--content-bg-color);
        box-shadow: rgba(0, 0, 0, .5) 0px 2px 3px -3px;
        border-radius:5px;
        transition-duration: 1s;
    }

.info {
    padding-left: 20px;
    height: 450px;
    padding-top: 0;
}

    .info .tab {
        display: none;
    }