#sections {
    background-color: none;
    width: 650px;
    margin:auto;
    margin-top:50px;
}

.piece, .caption {
    padding: 20px;
    background-color: var(--content-bg-color);
    border-radius: 5px;
}

.piece, .caption {
    box-shadow: var(--shadow);
}

.piece {
    margin-bottom: 15px;
}

.piece img {
    width: 610px;
    border-radius: 5px;
}

.caption {
    margin-bottom: 50px;
}

.date {
    font-weight: 300;
    font-size: 14px;
}

.materials {
    padding: 5px;
}

.materials button {
    border: none;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
    transition-duration: 1s;
}

.materials button:hover {
    box-shadow: 1px 1px 1px rgba(0,0,0,0.1) inset;
    background-color: #eaeaea;
}

.material {
    display: inline;
    padding: 5px;
    font-size: 12px;
    text-transform: uppercase;
    background-color: white;
    border-radius: 2px;
    font-weight: 300;
}

.header {
    float: left;
}

.headers {
     margin: auto;
     width: 100%;
     height: 50px;
     margin-bottom: 50px;
 }

.filter-header {
    width: 60%;
    text-align: left;
    padding: 15px;
    font-size: 14px;
    font-weight: 400;
}

.nav-header {
    margin-right: 45px;
    margin-right: calc(40% - 210px);
}

#showing {
    font-weight: 300;
    text-transform: uppercase;
    display: inline-block;
    width: 220px;
}

.filter-header button {
    border: none;
    color: var(--color);
    transition-duration: 1s;
    background-color: var(--content-bg-color);
}

.filter-header button:first-child {
    margin-right:10px;
}

.filter-header button:hover {
    color: var(--accent-color);
}