#sections {
    width: 70%;
    min-width: 487px;
    max-width: 700px;
    margin:auto;
    margin-top:50px;
}

.piece, .caption {
    padding: 20px;
    background-color: var(--content-bg-color);
    border-radius: 5px;
}

.piece, .caption {
    box-shadow: var(--shadow);
}

.piece {
    margin-bottom: 15px;
}

.piece img {
    width: 100%;
    border-radius: 5px;
}

.caption {
    margin-bottom: 50px;
}

.date {
    font-weight: 300;
    font-size: 14px;
}

.materials {
    padding: 5px;
}

.materials button {
    border: none;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
    transition-duration: 1s;
}

.materials button:hover {
    box-shadow: 1px 1px 1px rgba(0,0,0,0.1) inset;
    background-color: #eaeaea;
}

.material {
    display: inline;
    padding: 5px;
    font-size: 12px;
    text-transform: uppercase;
    background-color: white;
    border-radius: 2px;
    font-weight: 300;
}

.header {
    width: 100%;
    text-align: left;
}

.headers {
     margin: auto;
     width: 100%;
     height: 50px;
     margin-bottom: 50px;
 }

.filter-header {
    text-align: left;
    font-size: 14px;
    font-weight: 400;
    display: inline-block;
    border-left: 1px solid rgba(0,0,0,0.1);
    padding-left: 10px;
}

.nav-header {
    display: inline-block;
    width: 170px;
    margin-left: 15px;
}

#showing {
    font-weight: 300;
    text-transform: uppercase;
    display: inline-block;
}

.filter-header button {
    border: none;
    color: var(--color);
    transition-duration: 1s;
    background-color: var(--content-bg-color);
}

.filter-header button:nth-child(3) {
    margin-right: 10px;
    border-right: solid 1px rgba(0,0,0,0.1);
    padding-right: 16px;
}

.filter-header button:hover {
    color: var(--accent-color);
}